[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
canvasapi = "==2.2.0"
Markdown = "==3.3.7"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
